@tailwind base;

@tailwind components;

* {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

*::selection {
    @apply bg-indigo-500 text-white;
}

a {
    @apply text-indigo-500;
    } a:hover {
        @apply text-indigo-700;
    }

.min-h-screen-nav {
    min-height: calc(100vh - 71px);
}

/* btn */
.btn {
    @apply px-5 py-2 rounded inline-block uppercase;
    transition: all .2s ease;
    }
    .btn:hover {
        transition: all .2s ease;
    }
    .btn::selection {
        background: transparent;
    }

.btn-lg {
    @apply px-8 py-3 rounded text-lg inline-block uppercase;
    transition: all .2s ease;
    }
    .btn-lg:hover {
        transition: all .2s ease;
    }
    .btn-lg::selection {
        background: transparent;
    }

.btn-primary {
    @apply bg-indigo-500 text-white;

    }
    .btn-primary:hover {
        @apply bg-indigo-600 text-white;
    
    }
    .btn-primary:focus {
        @apply outline-none;
    }
    .btn-primary:active {
        @apply outline-none bg-indigo-800;
    }

.btn-danger {
    @apply bg-red-500 text-white;
    }
    .btn-red:hover {
        @apply bg-red-600 text-white;
    }
    .btn-red:focus {
        @apply outline-none;
    }
    .btn-red:active {
        @apply outline-none bg-red-800;
    }

.btn-secondary {
    @apply bg-gray-200 text-gray-800;
    }
    .btn-secondary:hover {
        @apply bg-gray-300 text-gray-800;
    }
    .btn-secondary:focus {
        @apply outline-none;
    }
    .btn-secondary:active {
        @apply outline-none bg-gray-500;
    }

.btn-success {
    @apply bg-teal-500 text-white;
    }
    .btn-success:hover {
        @apply bg-teal-600 text-white;
    }
    .btn-success:focus {
        @apply outline-none;
    }
    .btn-success:active {
        @apply outline-none bg-teal-800;
    }

/* form */
.custom-checkbox input[type="checkbox"]{
    display: none;
    }
    .custom-checkbox input[type="checkbox"] + label::before{
        content: "\F12e";
        @apply inline-block text-gray-200 relative mr-3;
        font: normal normal normal 24px/1 "Material Design Icons";
        font-size: inherit;
    
    }
    .custom-checkbox input[type="checkbox"] + label:hover::before{
        @apply text-gray-400;
    
    }
    .custom-checkbox input[type="checkbox"]:checked + label::before{
        content: "\F132";
        @apply inline-block text-indigo-500 relative mr-3;
        font: normal normal normal 24px/1 "Material Design Icons";
        font-size: inherit;
    
    }
    .custom-checkbox input[type="checkbox"]:checked + label:hover::before{
        @apply text-indigo-600;
    }

.custom-input {
    @apply py-2 px-3 bg-gray-200 rounded border-2 border-gray-200;
    transition: all .2s ease-out;
    }
    .custom-input:focus {
        @apply outline-none border-indigo-500 bg-white;
    }

.custom-input-float {
    @apply py-2 px-3 bg-white rounded border-2 border-white;
    transition: all .2s ease-out;
    }
    .custom-input:focus {
        @apply outline-none border-indigo-500 bg-white;
    }

/* scrollbar */
.custom-scroll-bar::-webkit-scrollbar {
    width: 5px;
    }
    .custom-scroll-bar::-webkit-scrollbar-track {
        @apply bg-transparent;
    }
    .custom-scroll-bar::-webkit-scrollbar-thumb {
        @apply bg-gray-500;
    }
    .custom-scroll-bar::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-700;
    }

/* bg */
.bg-block {
    background-color: #A3BFFA;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cg fill='%23e2e8f0' fill-opacity='0.4'%3E%3Cpath d='M0 0h80v80H0V0zm20 20v40h40V20H20zm20 35a15 15 0 1 1 0-30 15 15 0 0 1 0 30z' opacity='.5'%3E%3C/path%3E%3Cpath d='M15 15h50l-5 5H20v40l-5 5V15zm0 50h50V15L80 0v80H0l15-15zm32.07-32.07l3.54-3.54A15 15 0 0 1 29.4 50.6l3.53-3.53a10 10 0 1 0 14.14-14.14zM32.93 47.07a10 10 0 1 1 14.14-14.14L32.93 47.07z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.bg-temple {
    background-color: #cbd5e0;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23e2e8f0' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.bg-blur {
    background: rgba(255, 255, 255, 0.87);
    backdrop-filter: blur(5px);
}

.bg-form {
    background-image: url(../img/bubble.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* shadow */
.shadow-accent {
    box-shadow: 0px 3px 20px rgba(72, 187, 120, 0.5)
}

/* grid */
.grid-4-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    } @media(max-width: 576px) {
        .grid-4-col {
            grid-template-columns: 1fr;
        }
    }
@tailwind utilities;